@page
@model NutsShop.Pages.IndexModel
@{
    ViewData["Title"] = "Мудрый Орех";
}

<style>
    .intro h2,
    .benefits h2,
    .products h2 {
        color: #1c100b;
    }

    .intro p,
    .benefits p,
    .products p {
        color: #1c100b;
    }

    .centered-image {
        display: block;
        margin: 0 auto;
        width: 20%;
        height: auto;
    }
</style>

<img src="~/images/logo.png" class="centered-image" />

<section class="intro">
    <h2>О нашем бренде</h2>
    <p>
        Сеть магазинов "Мудрый Орех" существует с 2019 года и имеет несколько физических филиалов по всей России, в том числе в Кемерово и Томске.
    </p>
</section>

<section class="benefits">
    <h2>Почему стоит покупать у нас?</h2>
    <p>
        Наш интернет-магазин поставляет только самые свежие продукты и имеет широкий ассортимент орехов, сухофруктов и полезных снеков.
    </p>
</section>

<section class="products">
    <h2>Ассортимент</h2>
    <p>
        На страницах интернет-магазина вы найдете только самые качественные и проверенные товары.
    </p>
</section>
